@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Director</th>
            <th scope="col">Language</th>
            <th scope="col">Release date</th>
            <th scope="col">Rating</th>
            <th scope="col">Favorites</th>
            <th scope="col">Categories</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.MovieRepository.GetMovies())
        {
            <tr>
                <th scope="row">@item.MovieName</th>
                <td>@item.MovieDescription</td>
                <td>@item.MovieDirector</td>
                <td>@item.MovieLanguage</td>
                <td>@item.MovieReleaseDate</td>
                <td>
                    @Model.MovieRepository.GetAverageRating(item)
                </td>
                <td>
                    @Model.MovieRepository.GetAmountOfFavorites(item)
                </td>
                <td>
                    @Model.MovieRepository.GetCategories(item)
                </td>
                <td>
                    <form method="post" asp-page-handler="TryDeleteMovie">
                        <input type="hidden" name="movieId" value="@item.MovieId">
                        <input type="submit" name="deleteButton" value="Delete">
                    </form>

                    <form method="post" asp-page-handler="TryUpdateMovie">
                        <input type="hidden" name="movieId" value="@item.MovieId">
                        <input type="text" name="movieName">
                        <input type="submit" name="updateButton" value="Update">
                    </form>

                    <form method="post" asp-page-handler="TryFavoriteMovie">
                        <input type="hidden" name="movieId" value="@item.MovieId">
                        <input type="submit" value="Favorite">
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
