@page
@model Umovie.Pages.Movies.IndexModel
@{
}
<br />
<br />
<br />
<br />
<br />
<table class="table">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Director</th>
            <th scope="col">Language</th>
            <th scope="col">Release date</th>
            <th scope="col">Rating</th>
            <th scope="col">Favorites</th>
            <th scope="col">Categories</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.movieService.TryGetMovies())
        {
            <tr>
                <th scope="row">@item.MovieName</th>
                <td>@item.MovieDescription</td>
                <td>@item.MovieDirector</td>
                <td>@item.MovieLanguage</td>
                <td>@item.MovieReleaseDate</td>
                <td>
                    @Model.movieService.TryGetAverageRating(item.MovieId)
                </td>
                <td>
                    @Model.movieService.TryGetAmountOfFavorites(item.MovieId)
                </td>
                <td>
                    @Model.movieService.TryGetCategories(item.MovieId)
                </td>
                <td>
                    <form method="post" asp-page-handler="TryFavoriteMovie">
                        <input type="hidden" name="movieId" value="@item.MovieId">
                        <input type="submit" value="Favorite">
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table> 
