@page
@model Umovie.Pages.Movies.IndexModel
@{
    ViewData["Title"] = "Home page";
}
<br />
<br />
<br />
<br />
<br />
<script type="text/javascript" src="~/js/MoviePagination.js"></script>

<div class="container py-7">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item active" aria-current="page">Movies</li>
                    <li class="breadcrumb-item"> <a asp-page="../Account/Profile">Profile</a></li>
                    <li class="breadcrumb-item"> <a asp-page="../Movies/ViewRatings">Your Ratings</a></li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="row">
        <div id="votesContainer">

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                        <th scope="col">Director</th>
                        <th scope="col">Language</th>
                        <th scope="col">Release date</th>
                        <th scope="col">Rating</th>
                        <th scope="col">Favorites</th>
                        <th scope="col">Categories</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.AllMovies)
                    {
                        <tr class="vote-info">
                            <th><img class="movieimage" src="~/movieimages/@item.MovieImagePath" /></th>
                            <th scope="row">
                                <form method="post" asp-page-handler="ViewMovie">
                                    <input type="hidden" asp-for="@Model.movie.MovieId" value="@item.MovieId">
                                    <span class="text-primary font-italic me-1">
                                        <button class="btn btn-link" type="submit">@item.MovieName</button>
                                    </span>
                                </form>
                            </th>
                            <td>@item.MovieDescription</td>
                            <td>@item.MovieDirector</td>
                            <td>@item.MovieLanguage</td>
                            <td>@item.MovieReleaseDate</td>
                            <td>
                                @Model.movieService.TryGetAverageRating(item.MovieId)/10
                            </td>
                            <td>
                                @Model.movieService.TryGetAmountOfFavorites(item.MovieId)
                            </td>
                            <td>
                                @Model.movieService.TryGetCategories(item.MovieId)
                            </td>
                            <td>
                                <form method="post" asp-page-handler="TryRateMovie">
                                    <input type="hidden" asp-for="@Model.movie.MovieId" value="@item.MovieId">
                                    <input type="number" min="1" max="10" required asp-for="@Model.rating.RatingNumber" placeholder="@Model.movieService.TryGetUserRating(item.MovieId, (int)HttpContext.Session.GetInt32("uId"))">
                                    <button type="submit">Rate</button>
                                </form>
                            </td>
                            <td>
                                <form method="post" asp-page-handler="TryFavoriteMovie">
                                    <input type="hidden" asp-for="@Model.movie.MovieId" value="@item.MovieId">
                                    <button type="submit">Favorite</button>
                                </form>
                            </td>
                            @if (HttpContext.Session.GetString("rName") == "admin")
                            {
                                <td>
                                    <form method="post" asp-page-handler="EditMovie">
                                        <input type="hidden" asp-for="@Model.movie.MovieId" value="@item.MovieId">
                                        <button type="submit">Edit</button>
                                    </form>
                                </td>
                                <td>
                                    <form method="post" asp-page-handler="DeleteMovie">
                                        <input type="hidden" asp-for="@Model.movie.MovieId" value="@item.MovieId">
                                        <button type="submit" onclick="confirmMsg()">Delete</button>
                                    </form>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="pagination">
            <!-- Pagination controls will be dynamically inserted here -->
        </div>
    </div>
</div>

<script>
    function confirmMsg() {
        confirm("Delete movie?");
    }
</script>

