@page
@model Umovie.Pages.Movies.IndexModel
@{
}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Director</th>
            <th scope="col">Language</th>
            <th scope="col">Release date</th>
            <th scope="col">Rating</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Movie_Repository.GetMovies())
        {
            <tr>
                <th scope="row">@item.MovieName</th>
                <td>@item.MovieDescription</td>
                <td>@item.MovieDirector</td>
                <td>@item.MovieLanguage</td>
                <td>@item.MovieReleaseDate</td>
                <td>
                    @Model.Movie_Repository.GetAvarageRating(item.MovieId)
                </td>

            </tr>
        }
    </tbody>
</table> 