@page
@model Umovie.Pages.Account.ProfileModel
@{
}
<section style="background-color: #eee;">
    <div class="container py-5">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a asp-page="../Movies/Index">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">User Profile</li>
                    </ol>
                </nav>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                             class="rounded-circle img-fluid" style="width: 150px;">
                        <h5 class="my-3">@Model.user.UserName</h5>
                        <p class="text-muted mb-1">@Model.user.UserEmail</p>
                        <p class="text-muted mb-4">Role: @Model.user.Role.RoleName</p>
                        <div class="d-flex justify-content-center mb-2">
                            <button type="button" class="btn btn-primary">Follow</button>
                            <button type="button" class="btn btn-outline-primary ms-1">Message</button>
                        </div>
                    </div>
                </div>
                <div class="card mb-4 mb-lg-0">
                    <div class="card-body p-0">
                        <ul class="list-group list-group-flush rounded-3">
                            @foreach (var item in Model.movieService.TryGetFavoriteMovies(Model.user.UserId))
                            {
                                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                    <i class="fab fa-facebook-f fa-lg" style="color: #3b5998;">Favorited: </i>
                                    <p style="font-weight:bold;" class="mb-0">@item.Movie.MovieName </p>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Full Name</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.user.UserName</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.user.UserEmail</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Phone</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">(097) 234-5678</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Mobile</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">(098) 765-4321</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Role</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.user.Role.RoleName</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <p class="mb-0">Favorites</p>
                    @foreach (var item in Model.movieService.TryGetFavoriteMovies(Model.user.UserId))
                    {
                        <div class="col-md-6">
                            <div class="card mb-4 mb-md-0">
                                <div class="card-body">
                                    <p class="mb-4">
                                        <form method="post" asp-page-handler="ViewMovie">
                                            <input type="hidden" name="movieId" value="@item.MovieId">
                                            <span class="text-primary font-italic me-1">
                                                <button class="btn btn-primary" type="submit">@item.Movie.MovieName</button>
                                            </span>
                                        </form>
                                        <form method="post" asp-page-handler="TryUnfavoriteMovie">
                                            <input type="hidden" name="movieId" value="@item.MovieId">
                                            <input type="submit" value="Unfavorite">
                                        </form>
                                        <form method="post" asp-page-handler="TryRateMovie">
                                            <input type="hidden" name="movieId" value="@item.MovieId">
                                            <input type="text" name="rating" placeholder="@Model.movieService.TryGetUserRating(item.Movie.MovieId, Model.user.UserId)">
                                            <input type="submit" value="Rate">
                                        </form>
                                    </p>
   
                                    <p class="mt-4 mb-1" style="font-size: .77rem;">@item.Movie.MovieDescription</p>
                                    <div class="progress rounded" style="height: 5px;">
                                        <div class="progress-bar" role="progressbar" style="width: 72%" aria-valuenow="72"
                                             aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <p class="mt-4 mb-1" style="font-size: .77rem;">@item.Movie.MovieDirector</p>
                                    <div class="progress rounded" style="height: 5px;">
                                        <div class="progress-bar" role="progressbar" style="width: 89%" aria-valuenow="89"
                                             aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <p class="mt-4 mb-1" style="font-size: .77rem;">@item.Movie.MovieLanguage</p>
                                    <div class="progress rounded" style="height: 5px;">
                                        <div class="progress-bar" role="progressbar" style="width: 55%" aria-valuenow="55"
                                             aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <p class="mt-4 mb-1" style="font-size: .77rem;">@item.Movie.MovieReleaseDate</p>
                                    <div class="progress rounded mb-2" style="height: 5px;">
                                        <div class="progress-bar" role="progressbar" style="width: 66%" aria-valuenow="66"
                                             aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <p class="mt-4 mb-1" style="font-size: .77rem;">@Model.movieService.TryGetAverageRating(item.Movie.MovieId)</p>
                                    <div class="progress rounded mb-2" style="height: 5px;">
                                        <div class="progress-bar" role="progressbar" style="width: 66%" aria-valuenow="66"
                                             aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <p class="mt-4 mb-1" style="font-size: .77rem;">@Model.movieService.TryGetCategories(item.Movie.MovieId)</p>
                                    <div class="progress rounded mb-2" style="height: 5px;">
                                        <div class="progress-bar" role="progressbar" style="width: 66%" aria-valuenow="66"
                                             aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                            <br />
                        </div>
                    }
                   
                </div>
            </div>
        </div>
    </div>
</section>