@page
@model Umovie.Pages.Admin.AddMovie
@{
}
<br />
<br />
<br />
<br />
<form method="post" asp-page-handler="TryAddMovie" enctype="multipart/form-data">
    <div class="form-outline mb-4">
        <input class="form-control form-control-lg" required asp-for="@Model.movie.MovieName">
        <label class="form-label" for="form3Example1cg">Title</label>
    </div>

    <div class="form-outline mb-4">
        <input class="form-control form-control-lg" required type="text" asp-for="@Model.movie.MovieDirector">
        <label class="form-label" for="form3Example3cg">Director</label>
    </div>
    <div class="form-outline mb-4">
        <input class="form-control form-control-lg" required type="text" asp-for="@Model.movie.MovieDescription">
        <label class="form-label" for="form3Example3cg">Description</label>
    </div>
    <div class="form-outline mb-4">
        <input class="form-control form-control-lg" required type="text" asp-for="@Model.movie.MovieLanguage">
        <label class="form-label" for="form3Example3cg">Language</label>
    </div>
    <div class="form-outline mb-4">
        <input class="form-control form-control-lg" required type="date" asp-for="@Model.movie.MovieReleaseDate">
        <label class="form-label" for="form3Example3cg">Release date</label>
    </div>


    <div class="form-outline mb-4">
        <select id="je" class="form-control form-control-lg" asp-for="chosenCategories" asp-items="@(new SelectList(Model.categories, "Id", "Name"))" required multiple="multiple">
            <option value="" selected disabled>---Select a category---</option>
        </select>
        <label class="form-label" for="form3Example3cg">Categories</label>
    </div>

    <div class="form-outline mb-4">
        <input class="form-control form-control-lg" required type="file" asp-for="Upload">
        <label class="form-label">Select image</label>
    </div>

    <div class="d-flex justify-content-center">
        <button type="submit"
                class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">
            Add movie
        </button>
    </div>
</form>